<div class="manage-drivers">

  <!-- HEADER -->
  <div class="top-bar">

    <h2>
      Manage Drivers
    </h2>

  </div>

  <!-- POPUP -->
  <div
    class="confirm-box"
    *ngIf="showActionPopup">

    <div class="popup">

      <h3>Confirm Action</h3>

      <p>
        Are you sure you want to
        <b>{{ actionType }}</b>
        this driver?
      </p>

      <div class="popup-actions">

        <button
          class="cancel"
          (click)="cancelAction()">

          Cancel

        </button>

        <button
          class="confirm"
          (click)="confirmAction()">

          Confirm

        </button>

      </div>

    </div>

  </div>

  <!-- DRIVERS TABLE -->
  <div class="card">

    <h3>All Drivers</h3>

    <!-- SEARCH FILTERS -->
    <div class="filters-grid">
      <input type="text" [(ngModel)]="searchName" placeholder="Filter by Name..." />
      <input type="text" [(ngModel)]="searchEmail" placeholder="Filter by Email..." />
      <input type="text" [(ngModel)]="searchLicense" placeholder="Filter by License..." />
      <select [(ngModel)]="searchStatus">
        <option value="">All Statuses</option>
        <option value="active">Active Only</option>
        <option value="inactive">Inactive Only</option>
      </select>
    </div>

    <table>

      <thead>

      <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>License</th>
        <th>Status</th>
        <th>Actions</th>

      </tr>

      </thead>

      <tbody>

      <tr *ngFor="let driver of filteredDrivers">

        <td>{{ driver.id }}</td>

        <td>{{ driver.user.name }}</td>

        <td>{{ driver.user.email }}</td>

        <td>{{ driver.licenseNumber }}</td>

        <td>

          <span
            class="status"
            [ngClass]="driver.active ? 'active' : 'inactive'">

            {{ driver.active ? 'ACTIVE' : 'INACTIVE' }}

          </span>

        </td>

        <td class="actions">

          <!-- DEACTIVATE -->
          <button
            *ngIf="driver.active"
            class="deactivate"
            (click)="openPopup(driver.user.id, 'deactivate')">

            Deactivate

          </button>

          <!-- REACTIVATE -->
          <button
            *ngIf="!driver.active"
            class="reactivate"
            (click)="openPopup(driver.user.id, 'reactivate')">

            Reactivate

          </button>

        </td>

      </tr>

      </tbody>

    </table>

  </div>

</div>